*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: antiquewhite;
    min-height: 98px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo{
    background-color: aquamarine;
    padding: 5px 15px;

}
header .menu{
    /* background-color: rgb(202, 161, 240); */
    float: right;
    
}
.menu ul{
    list-style: none;
}
.menu li{
    border: 1px solid red;
    display: inline-block;
    padding: 7px 12px;
    margin-right: 20px;
}
.menu li a{
    
    text-decoration: none;
}
main{
    /* border: 2px solid black; */
    overflow: hidden;
}
main .poster-container{
    /* border: 2px solid red; */
    min-height: 655px;
}

main .poster-container .side-bar{
    background-color: rgb(219, 243, 113);
    width: 10%;
    float: left;
}
main .poster-container .side-bar ul{
    list-style: none;
}
main .poster-container .side-bar ul li{
    min-height: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid yellow;
}

main .poster-container .side-bar ul li a{
    display: block;
    border: 1px solid purple;
    padding: 5px 15px;
    text-decoration: none;

}
main .poster-container .poster{
    width: 90%;
    min-height: 655px;
    background-color: rgb(189, 250, 229);
    float: right;
    background-image: url("/peakpx.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 655px;
    position: relative;
}
main .poster-container .poster:hover{
    opacity: 0.9;
}

main .poster-container .poster img{
    position: absolute;
    left: 1400px;
    bottom: 0;
    transition: 0.8s;
}
main .poster-container .poster:hover img:nth-child(1){
    transform: translateX(-1400px);
}
main .poster-container .poster:hover img:nth-child(2){
    transform: translateX(-1150px);
}
main .poster-container .poster .watch-btn{
    position: absolute;
    right: 150px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border: none;
    display: inline-block;
    color: purple;
    border-radius: 19px;
    /* box-shadow: 3px 3px 2px 2px gray; */
    font-weight: 700;
    top: 45%;
    opacity: 0;
    transition: 0.8s;
}
main .poster-container .poster .watch-btn span i{
    color: red;
    transition: 1s;
}

main .poster-container .poster .watch-btn:hover{
    background-color: purple;
    color: white;
}
main .poster-container .poster .watch-btn:hover i{
    transform: translateX(10px);
}
main .poster-container .poster:hover .watch-btn{
    opacity: 1;
}

main .content{
    width: 100%;
    padding: 10px;
}
