*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid{
    min-width: 100%;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    
    
}
.container-fluid .logo{
    background-color: rgb(148, 201, 248);
    min-height: 85px;
    min-width: 100%;
}
.container-fluid>label{
    position: absolute;
    font-size: 22px;
    top: 60px;
    left: 18px;
}
.container-fluid>input{
    position: absolute;
    top: 60px;
    left: 42px;
    display: none;
}

.container-fluid .side-bar{
    min-width: 15%;
    background-color: black;
    position: absolute;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform 0.5s linear;
    
}

.container-fluid .side-bar>.menu>.nav-list{
    opacity: 0;
    transition: opacity 0.2s linear 0.1s;
    list-style: none;
    padding: 20px 10px;
}
.container-fluid .side-bar>.menu>.nav-list>li{
    padding-bottom: 15px;
    position: relative;
}
.container-fluid .side-bar>.menu>.nav-list>li>a{
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 7px;
    text-decoration: none;
    border-radius: 10px;
}
.container-fluid .side-bar>.menu>.nav-list>li>a label{
    position: absolute;
    left: 100px;
    top: 5px;
    font-size: 20px;
    transition: transform 0.3s linear;
}

.container-fluid .side-bar>.menu>.nav-list>li>a:hover{
    background-color: red;
}
.container-fluid .side-bar>.menu>.nav-list>li .drop-down{
    position: absolute;
    background-color: black;
    top: 35px;
    left: 110px;
    z-index: 3;
    min-width: 90px;
    transform-origin: top;
    transform: scale(1,0);
    box-shadow: 1px 1px 1px 3px gray;
    transition: transform 0.3s linear;
}
.menu>.nav-list>li .drop-down>ul{
    list-style: none;
}
.menu>.nav-list>li .drop-down>ul>li{
    border-bottom: 1px solid white;
}
.menu>.nav-list>li .drop-down>ul>li>a{
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 5px;

}
.menu>.nav-list>li .drop-down>ul>li:last-child{
    border-bottom: none;
}
.menu>.nav-list>li .drop-down>ul>li>a:hover{
    background-color: red;
}

.container-fluid .side-bar>.menu>.nav-list>li:hover .drop-down{
    transform: scale(1,1);

}
.container-fluid .side-bar>.menu>.nav-list>li:hover label{
    transform: rotate(180deg);

}
.container-fluid input:checked ~ .side-bar{
    transform: scale(1,1);
}
.container-fluid input:checked ~ .side-bar>.menu>.nav-list{
    transition: opacity 0.3s linear 0.2s;
    opacity: 1;
    
}
.container-fluid .main-content{
    background-color: skyblue;
    min-width: 100%;
    

}